/************ Reset ************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/************ Index.html  Contact.hmtl Portofolio.html ************/

/************ Main ************/
main{
    Background-color: lightgrey;
}

/************ Footer ************/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;   
}

footer div p{
    color: white;
}

.greenline{
    width: 100%;
    height: 10px;
    background-color: lightgreen;
}

.greyline{
    background-color: rgb(58, 56, 56);
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 18px;
}

/************ Index.html ************/


/************ Contact.html ************/


/************ Portofolio.html ************/
/************ Footer ************/
  #greyline{
    height: 30px;
}