/************ Reset ************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/************ Index.html  Contact.hmtl Portofolio.html ************/
/************ Navbar ************/
#web-brand{
    background-color: lightgreen;
    padding: 10px 50px 10px 50px;
    color: white;
}
/************ Body ************/
body{
    background-color: lightgrey;
}

h2 {
    color: lightgreen;
}

#container{
    margin-top: 100px;
    border: 1px lightgray solid;
    background-color: white;
    margin-bottom: 200px;
}

/************ Footer ************/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;   
}

footer div p{
    color: white;
}

.greenline{
    width: 100%;
    height: 10px;
    background-color: lightgreen;
}

.greyline{
    background-color: rgb(58, 56, 56);
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 18px;
}

/************ Index.html ************/
/************ Img ************/
.img-thumbnail{
    float: left;
    height: 300px;
    width: 250px;
    margin-right: 10px;
    margin-bottom: 5px;
}

/************ Contact.html ************/
/************ Style inputs ************/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }


/************ Portofolio.html ************/
/************ Footer ************/
#greyline{
    height: 30px;
}

.img-portofolio{
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
}

.text-block {
    background-color: lightgreen;
    width: 250px;
    padding: 10px 0 10px 0;
    text-align: center;
    color: white;
    font-size: 22px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 440px) {
    .navbar-nav li{
        display: inline-block!important;
        margin-left: 25px;
    }
    img{
        width: 100%;
    }
  }